<!doctype html>
<html>
<head>
	<title>Gra w tysiąca na krzyż</title>
	<link rel="stylesheet" href="static/style.css" />
</head>
<body>
{% if 'username' in session: %}
<div id="user_log">
		<li style="font-size:1.2em;">{{session['username']}}</li>
		<a href="{{url_for('logout')}}" style="color:red;">Wyloguj się</a>
</div>

{% endif %}
	<div id="menu">
		<ul id="navigation" style="color:blue">
		  {% for item in navigation %}
			  <li><a style="color:red" href="{{ item.href }}">{{ item.caption }}</a></li>
		  {% endfor %}
		</ul>
	</div>
	{% block body %}
	{% endblock %}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>

