{% extends 'base.html' %}

{% block body %}
<br>
<center>
<h3 class="text-dark-grey">Zarejestruj się</h3>
        <div>
          <div>
            <form action="" method="POST">
                {% if success_register %}
                    <p<strong>Success:</strong> {{ success_register }}
                {% endif %}
                 {% if error_register %}
                     <p<strong>Error:</strong> {{ error_register }}
                 {% endif %}
                 <div>
                     <span>Imię</span>
                     <input type="text" name="name" id="name">
                 </div>
				 <br>
                 <div>
                     <span>Login</span>
                     <input type="text" name="user" id="user">
                 </div>
                 <br>
                 <div>
                     <span>Hasło</span>
                     <input type="text" id="pass" name="pass">
                 </div>
                 <br>
                 <button type="submit" name="action" value="register">Zarejestruj się</button>
             </form>
           </div>
		   </center>
         </div>
{% endblock %}