body {
	background-color: #000000;
	color:blue;
}

/* img { */
  /* border-radius: 50%; */
  /* border: 1px solid blue; */
  /* padding: 5px; */
  /* width: 25%; */
  /* margin:5px; */
/* } */

img {
	border: 1px solid black;
}

#menu {
	border:1px dotted red;
	width:200px;
	position:fixed;
	margin-left:1650px;
	margin-top:40px;
}

#container {
	margin-left:auto;
	margin-right:auto;
	background:#354f5d; 
	height:850px; 
	width:65%;
}

#players {
	border:1px dotted black;
	float:left;
	height:33.3%;
	width:49.7%;
}

#clear {
	clear:both;
}

#table {
	border:10px solid brown;
	margin:0;
	padding:0;
	width:99%;
	height:98.2%;
}

#name_player {
	border:1px dotted black;
	padding:10px;
	background-color:#7FFFD4;
	height:7%;
}

#blat {
	width:200px;
	height:37.3%;
	margin-left:auto;
	margin-right:auto;
	/* border: 2px double yellow; */
}

#card_blat {
	float:left;
	margin-right:1.5px;
	margin-left:1.5px;
	margin-top:2px;
	margin-bottom:2ps;
}

#card {
	float:left;
	width:6%;
}

#card_mus {
	float:left;
	width:10%;
}

#cards {
	margin:4%;
	margin-left:25%;
}

#licit {
	position:absolute;
	left:90px;
	top:80px;
	color:red;
	border:1px dotted red;
	height:18%; 
	width:10%;
}

#musik {
	position:absolute;
	left:90px;
	top:250px;
	/* border: 1px dotted red; */
	height:18%; 
	width:10%;
	/* display:none; */
}

#licytacja {
	border:1px dotted black;
	color:white;
	margin:3px;
}