body {
	background-color: #000000;
	color:blue;
}

/* img { */
  /* border-radius: 50%; */
  /* border: 1px solid blue; */
  /* padding: 5px; */
  /* width: 25%; */
  /* margin:5px; */
/* } */

img {
	border: 1px solid black;
}

#menu {
	border:1px dotted red;
	width:200px;
	position:fixed;
	margin-left:1650px;
	margin-top:40px;
}

#container {
	margin-left:auto;
	margin-right:auto;
	background:#DCDCDC; 
	height:950px; 
	width:65%;
}

.players {
	border:1px dotted black;
	float:left;
	height:30%;
	width:48%;
	margin:1px;
	margin-left:5px;
}

#chair1 {
	background:#87CEFA;
}

#chair2 {
	background:#7CFC00;
}

#chair3 {
	background:#7CFC00;
}

#chair4 {
	background:#87CEFA;
}

#clear {
	clear:both;
}

#dane_gracza {
	float:right;
	margin:20px;
	color:black;
	border:1px solid black;
	background:#5F9EA0;
	padding:10px;
	width:22%;
}

#table {
	border:10px solid brown;
	margin:0;
	padding:0;
	width:99%;
	height:98.2%;
}

#stoly {
	float:left;
	width:30%;
	border:1px dotted blue;
	font-size:20px;
	padding-bottom:30px;
}

#name_player {
	border:1px dotted black;
	padding:10px;
	background-color:#7FFFD4;
	height:7%;
}

#blat {
	width:90%;
	height:65%;
	margin-left:auto;
	margin-right:auto;
	/* border: 2px double yellow; */
	background:#F5F5DC;
	padding:10px;
}

#card_blat {
	float:left;
	margin-right:1.5px;
	margin-left:1.5px;
	margin-top:2px;
	margin-bottom:2ps;
}

#card {
	float:left;
	width:6%;
}

#card_mus {
	float:left;
	width:10%;
	margin:5px;
	margin-top:8px;
	
}

#cards {
	margin:4%;
	margin-left:25%;
}

#user_log {
	position:absolute;
	left:90px;
	top:80px;
	color:red;
	border:1px dotted red;
	height:18%; 
	width:10%;
	padding:1%;
}

#musik {
	float:right;
	padding:30px;
}

#interaction {
	float:left;
	padding:30px;
	margin:30px;
}

#licit {
	border:1px dotted black;
	color:white;
	width: 160px;
	height:160px;
	margin:3%;
	background:black;
	float:left;
	border-radius: 50%;
	font-size: 20px;
}